.wc-bsale-notice {
    padding: 5px;
    margin: 10px 0;
    border-left: 4px solid transparent;
}

.wc-bsale-notice p {
    margin: 0;
    padding: 5px;
}

.wc-bsale-notice-warning {
    background-color: #fff3cd;
    border-left: 4px solid #ffc107;
}

.wc-bsale-notice-success {
    background-color: #d4edda;
    border-left: 4px solid #28a745;
}

.wc-bsale-notice-error {
    background-color: #f8d7da;
    border-left: 4px solid #dc3545;
}

.wc-bsale-notice-info {
    background-color: #cce5ff;
    border-color: #007bff;
}

.wc-bsale-related-fieldset {
    border: 1px solid #007cba;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f6f7f7;
}

.wc-bsale-related-fieldset legend {
    font-weight: bold;
    color: #007cba;
}

.wp-list-table .log-error {
    background-color: #ffdddd;
}

.wp-list-table .log-warning {
    background-color: #fff3cd;
}

.wp-list-table .log-success {
    background-color: #d4edda;
}

.wp-list-table .column-message {
    width: 40%;
}

.wc-bsale-footer {
margin-top: 20px;
    padding: 10px;
    background-color: #e7e7e7;
    border-top: 1px solid #c3c4c7;
}